<a href="https://colab.research.google.com/github/yiwenwangANU/Tensorflow_Certificate/blob/main/Tensorflow_Certificate_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import tensorflow as tf
import numpy as np
import pandas as pd
from tensorflow.keras import layers

In [2]:
path_to_file = tf.keras.utils.get_file('Churn_Modelling.csv', 'https://raw.githubusercontent.com/yiwenwangANU/Tensorflow_Certificate/main/Churn_Modelling.csv')

Downloading data from https://raw.githubusercontent.com/yiwenwangANU/Tensorflow_Certificate/main/Churn_Modelling.csv
688128/684858 [==============================] - 0s 0us/step
696320/684858 [==============================] - 0s 0us/step

In [31]:
df = pd.read_csv(path_to_file)
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [16]:
df_features = df.iloc[:, 3:-1]
df_target = df.iloc[:, -1]
df_features.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [41]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_features['Gender'] = le.fit_transform(df_features['Gender'])
df_features.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0.00,1,1,1,101348.88
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58
2,502,France,0,42,8,159660.80,3,1,0,113931.57
3,699,France,0,39,1,0.00,2,0,0,93826.63
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10

In [50]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

cat_features = ["Geography"]
categorical_transformer = OneHotEncoder(handle_unknown="ignore")

ct = ColumnTransformer(transformers=[
    ("cat", categorical_transformer, cat_features)],
    remainder='passthrough',
    verbose_feature_names_out=False)

df_features = pd.DataFrame(ct.fit_transform(df_features), columns=ct.get_feature_names_out())

In [51]:
df_features

,Geography_France,Geography_Germany,Geography_Spain,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1.0,0.0,0.0,619.0,0.0,42.0,2.0,0.00,1.0,1.0,1.0,101348.88
1,0.0,0.0,1.0,608.0,0.0,41.0,1.0,83807.86,1.0,0.0,1.0,112542.58
2,1.0,0.0,0.0,502.0,0.0,42.0,8.0,159660.80,3.0,1.0,0.0,113931.57
3,1.0,0.0,0.0,699.0,0.0,39.0,1.0,0.00,2.0,0.0,0.0,93826.63
4,0.0,0.0,1.0,850.0,0.0,43.0,2.0,125510.82,1.0,1.0,1.0,79084.10
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.0,0.0,0.0,771.0,1.0,39.0,5.0,0.00,2.0,1.0,0.0,96270.64
9996,1.0,0.0,0.0,516.0,1.0,35.0,10.0,57369.61,1.0,1.0,1.0,101699.77
9997,1.0,0.0,0.0,709.0,0.0,36.0,7.0,0.00,1.0,0.0,1.0,42085.58
9998,0.0,1.0,0.0,772.0,1.0,42.0,3.0,75075.31,2.0,1.0,0.0,92888.52
9999,1.0,0.0,0.0,792.0,0.0,28.0,4.0,130142.79,1.0,1.0,0.0,38190.78

In [52]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_features,
                                                    df_target,
                                                    test_size = 0.2,
                                                    random_state = 0)

In [53]:
X_train

,Geography_France,Geography_Germany,Geography_Spain,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
7389,0.0,0.0,1.0,667.0,0.0,34.0,5.0,0.00,2.0,1.0,0.0,163830.64
9275,0.0,1.0,0.0,427.0,1.0,42.0,1.0,75681.52,1.0,1.0,1.0,57098.00
2995,1.0,0.0,0.0,535.0,0.0,29.0,2.0,112367.34,1.0,1.0,0.0,185630.76
5316,0.0,0.0,1.0,654.0,1.0,40.0,5.0,105683.63,1.0,1.0,0.0,173617.09
356,0.0,0.0,1.0,850.0,0.0,57.0,8.0,126776.30,2.0,1.0,1.0,132298.49
...,...,...,...,...,...,...,...,...,...,...,...,...
9225,0.0,1.0,0.0,594.0,0.0,32.0,4.0,120074.97,2.0,1.0,1.0,162961.79
4859,0.0,0.0,1.0,794.0,0.0,22.0,4.0,114440.24,1.0,1.0,1.0,107753.07
3264,1.0,0.0,0.0,738.0,1.0,35.0,5.0,161274.05,2.0,1.0,0.0,181429.87
9845,0.0,0.0,1.0,590.0,0.0,38.0,9.0,0.00,2.0,1.0,1.0,148750.16
2732,0.0,1.0,0.0,623.0,0.0,48.0,1.0,108076.33,1.0,1.0,0.0,118855.26

In [55]:
y_train

7389    0
9275    0
2995    0
5316    0
356     0
       ..
9225    0
4859    0
3264    0
9845    0
2732    1
Name: Exited, Length: 8000, dtype: int64

In [60]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [68]:
model = tf.keras.Sequential([
  layers.Dense(16, activation='relu'),
  layers.Dense(16, activation='relu'),
  layers.Dense(1, activation='sigmoid'),                            
])

model.compile(loss=tf.keras.losses.BinaryCrossentropy(),
              optimizer=tf.keras.optimizers.Adam(),
              metrics=['accuracy'])

In [69]:
model.fit(X_train,
          y_train,
          epochs=30,
          batch_size = 32,
          validation_data=(X_test, y_test),
          callbacks=[tf.keras.callbacks.EarlyStopping(monitor="val_loss", patience=4, restore_best_weights=True),
                     tf.keras.callbacks.ReduceLROnPlateau(monitor="val_loss", patience=2, verbose=1)])

Epoch 1/30
250/250 [==============================] - 3s 6ms/step - loss: 0.5204 - accuracy: 0.7796 - val_loss: 0.4538 - val_accuracy: 0.7995 - lr: 0.0010
Epoch 2/30
250/250 [==============================] - 1s 4ms/step - loss: 0.4330 - accuracy: 0.8144 - val_loss: 0.4095 - val_accuracy: 0.8310 - lr: 0.0010
Epoch 3/30
250/250 [==============================] - 1s 4ms/step - loss: 0.4048 - accuracy: 0.8282 - val_loss: 0.3872 - val_accuracy: 0.8390 - lr: 0.0010
Epoch 4/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3833 - accuracy: 0.8400 - val_loss: 0.3680 - val_accuracy: 0.8530 - lr: 0.0010
Epoch 5/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3678 - accuracy: 0.8521 - val_loss: 0.3552 - val_accuracy: 0.8530 - lr: 0.0010
Epoch 6/30
250/250 [==============================] - 1s 4ms/step - loss: 0.3580 - accuracy: 0.8564 - val_loss: 0.3477 - val_accuracy: 0.8620 - lr: 0.0010
Epoch 7/30
250/250 [==============================] - 0s 2ms/step - loss: 0.3530 - accuracy: 0.8572 - val_loss: 0.3441 - val_accuracy: 0.8560 - lr: 0.0010
Epoch 8/30
250/250 [==============================] - 0s 2ms/step - loss: 0.3486 - accuracy: 0.8581 - val_loss: 0.3432 - val_accuracy: 0.8585 - lr: 0.0010
Epoch 9/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3462 - accuracy: 0.8580 - val_loss: 0.3464 - val_accuracy: 0.8490 - lr: 0.0010
Epoch 10/30
250/250 [==============================] - 0s 2ms/step - loss: 0.3446 - accuracy: 0.8597 - val_loss: 0.3399 - val_accuracy: 0.8555 - lr: 0.0010
Epoch 11/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3418 - accuracy: 0.8600 - val_loss: 0.3385 - val_accuracy: 0.8615 - lr: 0.0010
Epoch 12/30
250/250 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8597 - val_loss: 0.3392 - val_accuracy: 0.8520 - lr: 0.0010
Epoch 13/30
250/250 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8584 - val_loss: 0.3379 - val_accuracy: 0.8570 - lr: 0.0010
Epoch 14/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3385 - accuracy: 0.8620 - val_loss: 0.3347 - val_accuracy: 0.8635 - lr: 0.0010
Epoch 15/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3385 - accuracy: 0.8630 - val_loss: 0.3391 - val_accuracy: 0.8550 - lr: 0.0010
Epoch 16/30
233/250 [==========================>...] - ETA: 0s - loss: 0.3369 - accuracy: 0.8632
Epoch 16: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
250/250 [==============================] - 0s 2ms/step - loss: 0.3373 - accuracy: 0.8626 - val_loss: 0.3371 - val_accuracy: 0.8585 - lr: 0.0010
Epoch 17/30
250/250 [==============================] - 1s 2ms/step - loss: 0.3338 - accuracy: 0.8643 - val_loss: 0.3368 - val_accuracy: 0.8595 - lr: 1.0000e-04
Epoch 18/30
234/250 [===========================>..] - ETA: 0s - loss: 0.3330 - accuracy: 0.8651
Epoch 18: ReduceLROnPlateau reducing learning rate to 1.0000000474974514e-05.
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8646 - val_loss: 0.3366 - val_accuracy: 0.8595 - lr: 1.0000e-04